@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #8B5CF6;
  --color-primary-dark: #7C3AED;
}

@layer base {
  body {
    @apply bg-black text-white font-sans antialiased;
  }
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
